{% extends 'lista/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Criar Tarefa{% endblock %}

{% block content %}
    <h1>{% if form.instance.pk %}Editar{% else %}Criar{% endif %} Tarefa</h1>

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form|crispy }}  <!-- Aplica o filtro 'crispy' para renderizar com Bootstrap5 -->
        </div>
        <button type="submit" class="btn btn-success">Salvar</button>
    </form>

    <a href="{% url 'task_list' %}" class="btn btn-secondary mt-3">Voltar à lista</a>
{% endblock %}
